@model IEnumerable<EsercizioEsame.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId })
        </td>
    </tr>
}

</table>
