@model EsercizioEsame.Models.Anagrafica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Anagrafica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFornitore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFornitore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceAnagrafica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceAnagrafica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnagraficaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
